{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#004B87, #1867a8, #4e8cbf);
    padding: 20px;
    background-image: url('imagemlogintcc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto; /* 70% da largura, altura automática */
    background-color: #004a8d; /* Cor de fundo para as bordas que sobrarem */
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 20, 40, 0.55); /* Azul escuro com 55% de transparência */
    z-index: 1;
}


form {
    align-items: center;
    width: 100%;
}

#index_senaiiimagem{
    position: absolute;
    top: 30px;
    left: 550px;
    width: 400px;
    height: 200px;
}

#index_caixa{
    position: absolute;
    top: 250px;
    left: 990px;
    width: 350px;
    height: 360px;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
   
}


#index_username{
    width: 100%;
    padding: 12px;
    margin-top: auto;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    position: relative;
    top: 70px;
    left: 20px;
    width: 285px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-inline-start: 0cqmax;
    
}

#index_password{
 width: 100%;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    position: relative;
    top: 70px;
    left: 20px;
    width: 285px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
     
}

#index_botao{
    position: relative;
    top:75px;
    left: 50px;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #004B87;
    color: #ffffff;
    background-color: #005594;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    padding: 12px;
    background-color: #005696;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

#index_botao .btn-submit:hover {
    transform: translateY(-2px); /* Desloca o botão levemente para cima */
    box-shadow: 0 4px 12px rgba(0, 86, 150, 0.2); /* Adiciona uma sombra suave azul */
}


#banco_de_dados{ 
    position: absolute;
    top: 250px;
    left: 700px;
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

#almoxarifado {
    margin: 0;
    background-color: #1867a8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#caixa-almoxarifado1 {
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
}

#caixa-almoxarifado2 {
    color: #0f5f9f;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #004B87;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


#consulta_botao {
    position:absolute;
    top: 40px;
    left: 30px;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #faf9f9;
    color: #000000;
    border: #004B87;
}

#tabelinha{
    position: absolute;
    left: 400px;
    top: 200px;
    width: 50%;

    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#tabelinha th {
    background-color: #ffffff;
    color: black;
    border: 2px solid orange;
    padding: 10px; /* Opcional: adiciona um espaço interno para o texto não sufocar */
    text-align: center; /* Opcional: alinha o texto à esquerda */
}

#tabelinha tr:hover th {
    background-color: #f0c183 !important; 
    cursor: pointer; 
}


#tabelinha tr:first-child th,
#tabelinha tr:first-child td {
    background-color: #004B87 !important; 
    color: #ffffff; 
}                       

#titulo {
    margin-top: 50px;
    left: 400px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#index_titulo {
    margin-top: 20px;
    min-height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #000000;

}

#inseriritens {
    margin-top: 300px;
    margin-left: 700px;
    background-color: orange;
    color: #ffffff;            
    font-size: 14px;          
    font-weight: 600;          
    padding: 10px 20px;       
    border: none;              
    border-radius: 6px;        
    cursor: pointer;           
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

input::placeholder {
    text-align: left;
}

#senaii.png


 

