<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Almoxarifado</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 id="titulo">Almoxarifado</h1>
    <img id="bancosenaiimagem" src="static/senaipagina2.jpg">
    <form action="/" method="GET">
    <a href="/adicionaritens">
        <button id="consulta_botao" type="submit">Voltar ao Login</button>
    </a>
    </form>

    <table id="tabelinha">
        <tr>
            <th>Id</th>
            <th>Nome do item</th>
            <th>Qtde</th>
            <th>Categoria</th>
            <th>Descricao</th>
        </tr>
        {% for item in resposta%}
        <tr>
            <th>{{item[0]}}</th>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th>{{item[3]}}</th>
            <th>{{item[4]}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
 <a href="/adicionaritens">
        <button id="adicionaritensbotao" type="submit">Adicionar itens</button>
</html>

