<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Movimentação de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<div class="criarconta">
    <span>Criar conta </span>
    <br>
    <div class="a">
        <label for="exampleFormControlInput1" class="criarcontaemailsenha">Email </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@gmail.com">
      </div>
      <div class="b">
        <label for="exampleFormControlInput1" class="form-label">Senha</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="1234">
      </div>
      <br>
      <button type="button" class="btn">Criar</button> 
      <br>
      
      <button type="button" class="btn">Fazer login
      <a href="{{ url_for('index') }}" class="signup-link"></a>
      </button>

</div>
