<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="paginaindex">
    
    <div class="login-container">
        <div id="index_caixa">
            <h1 id="index_titulo">Nova Senha</h1> 
            
            <!-- O formulário envia os dados para a rota que processará a mudança -->
            <form action="{{ url_for('esquecisenha') }}" method="POST">
                
                <!-- Campo para identificar o usuário -->
                <input id="index_username" type="text" name="username" placeholder="Nome de Usuário ou E-mail" required>
                
                <!-- Nova Senha -->
                <input id="index_password" type="password" name="nova_senha" placeholder="Nova Senha" required>
                
                <!-- Confirmação -->
                <input id="index_password" type="password" name="confirmar_senha" placeholder="Confirme a Nova Senha" required>
                
                <button id="index_botao" type="submit">Atualizar Senha</button>

                <div class="signup-container">
                    <a href="{{ url_for('index') }}" class="signup-link">Voltar para o Login</a>
                </div>
            </form>
        </div>

        <div style="background-color: #ffffff; display: flex; align-items: center; padding: 20px; border-radius: 0 20px 20px 0;">
            <img src="{{ url_for('static', filename='imagemitens/senailogin.png') }}" class="senailogin">
        </div>
    </div>

</body>
</html>
