<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://googleapis.com">
    <link rel="preconnect" href="https://gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="paginaindex">
    
<!-- Caixa de Login  -->
        <div id="index_caixa">
            <img src="{{ url_for('static', filename='imagemitens/senailogin.png') }}" class="senailogin" id="imgsenailogin" alt="SENAI">
            <br>
            <br>
            <h1 id="index_titulo">Gestão de Estoque</h1> 
            <br>
            <select id="seleçaoadmin" name="role" required>
            <option selected>Selecione</option>
            <option value="1" >Administrador</option>
            <option value="2">Usuário</option>
            </select>
            <br>
            <br>
            <form action="/login" method="POST">
                <!-- Campo de Usuário -->
                <input id="index_username" type="text" name="username" placeholder="Nome de Usuário" required>
                
                <!-- Campo de Senha -->
                <input id="index_password" type="password" name="password" placeholder="Senha" required>

                <!-- Botão Entrar -->
                <button id="index_botao" type="submit">Entrar</button>
            </form>

            <!-- Mensagem de erro unificada abaixo do botão -->
            {% with messages = get_flashed_messages(category_filter=["erro_login"]) %}
                {% if messages %}
                    <div class="erromensagem">
                        {% for message in messages %}
                            <div class="erromensagembox">
                                ⚠️ {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

</body>
</html>
