<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title id="titulomovimentacao">Movimentação de Estoque</title>
    <!-- Substitua o conteúdo do seu arquivo style.css pelo CSS que está logo abaixo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://jsdelivr.net" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://jsdelivr.net" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body class="paginamovimentacao">

    <div id="caixamovimentacao" class="card shadow border-0">
        <h2 id="titulomovimentacao">Atualizar Quantidade</h2>

        <form action="/salvar" method="POST">
            <!-- Selecionar Item -->
            <div class="mb-3">
                <label for="selecionaitem" id="a">Item</label>
                <select id="selecionaitem"  name="id_item" required>
                    <option value="" disabled selected>Selecione o item...</option>
                    {% for item in itens %}
                    <option value="{{ item[0] }}">{{ item[1] }} (Atual: {{ item[2] }})</option>
                    {% endfor %}
                </select>
            </div>
            <br>

            <!--Tipo de Operação -->
            <div class="mb-3">
                <label for="tipo_operacao" id="">Tipo de Movimentação</label>
                <select id="tipo_operacao" id="selecaoentradasaida" name="tipo" required>
                    <option value="entrada">Entrada (+)</option>
                    <option value="saida">Saída (-)</option>
                </select>
            </div>
             <br>

            <!-- Campo: Quantidade -->
            <div class="mb-4">
                <label for="qtd_atualizar" id="campoqnt">Quantidade</label>
                <input type="number" id="qtd_atualizar" class="form-control" name="quantidade" min="1" placeholder="Digite a quantidade..." required>
            </div>
            <br>

            <!-- Botão de Ação -->
            <button type="submit" id="btnsalvaritem">Salvar item</button>
            <br>
            
            <!-- Link de Voltar -->
            <div id="btnretorno">
                <a href="{{ url_for('banco') }}" class="linkretorno small">← Voltar para a Tabela</a>
            </div>
        </form>
    </div>
    
</body>
</html>
